html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
}

.container > * {
    padding: 50px 100px;
}

.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    margin-bottom: 2px;
    background-color: #FBC116;
}

.navbar > ul{
    list-style: none;
    display: flex;
    gap: 65px;
    justify-content: space-between;
}

.navbar > ul > li > * {
    text-decoration: none;
    color: black;
    font-size: larger;
}

h2{
    padding: 0;
    margin: 0;
}

.bannerimage{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    padding: 0px;
}

.heroimage{
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.textoverlay{
    position: absolute;
    bottom: 125px;
    background-color: #FFFFFF;
    padding: 0px 30px;
    margin: 0;
    font-size: 50px;
}

.everydaycategories{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.gallery{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.galleryitem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galleryitem img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.galleryitem p{
    margin: 10px 0 0;
    padding: 10px;
}

.blditem{
    width: 400px; 
}

.imagewrapper {
    width: 100%;
    height: 300px; 
    overflow: hidden; 
}

.healthyrecipes {
    background-color: #d4d4d4; 
}

.recipeitem {
    width: 250px; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.imagewrapper2 {
    width: 100%;
    height: 200px; 
    overflow: hidden; 
}

.recipeitem p {
    background-color: white;
    font-weight: bold;
    color: black;
}

.whereitem{
    width: 400px;
}

.imagewrapper3 {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 6px solid #d4d4d4;
}

footer.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #FBC116;
}

h6{
    font-size: large;
}